<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head -->
    <%- include('./elements/head') %>
  </head>
  <body>
    <div>
      <!-- Header -->
      <%- include('./elements/header') %>
      <!-- Content -->
      <%- body %>
      <!-- Footer -->
      <%- include('./elements/footer') %>
    </div>
    <!-- Script -->
    <%- include('./elements/script') %>
  </body>
</html>
